.header {
    display: flex;
    background-color: rgb(50, 167, 145);
}
button {
    display: flex;
    margin: auto;
}
.trybewarts-login {
    display: flex;
    order: 3;
}
.trybewarts-header-logo{
    display: flex;
    order: 1;
}

h1 {
    align-self: center;
    order: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.trybewarts-login input {
    margin: auto;
}
main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-basis: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
    height: 500px;
}

.names {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

#input-name {
  flex-grow: 1;
}

#input-lastname {
  flex-grow: 1;
}

.houses {
  display: flex;
  gap: 10px;
  
}

#input-email {
  flex-grow: 1;
}
