.header {
    display: flex;
    background-color: rgb(50, 167, 145);
}
button {
    display: flex;
    margin: auto;
}
form {
    display: flex;
    order: 3;
}
img {
    display: flex;
    order: 1;
}

h1 {
    align-self: center;
    order: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input {
    margin: auto;
}